<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791552862180-ev0v0j1s2i8fgdf586235v9j1ljitl5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791552862180-ev0v0j1s2i8fgdf586235v9j1ljitl5q</string>
	<key>API_KEY</key>
	<string>AIzaSyDLQcHS_mFYJzK8yBb1G_XmC4p2gp9LiWY</string>
	<key>GCM_SENDER_ID</key>
	<string>791552862180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungerBites.hungerBites</string>
	<key>PROJECT_ID</key>
	<string>hungrybites-2147c</string>
	<key>STORAGE_BUCKET</key>
	<string>hungrybites-2147c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791552862180:ios:42c5769ed90b963bbb49f1</string>
</dict>
</plist>